footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 2px solid black;
  padding: 0.5rem;
  background-color: whitesmoke;
}

footer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bookmark-picture-within-footer {
  height: 2em;
}
