* {
  box-sizing: border-box;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 15%;
}

h2 {
  text-align: center;
}

li {
  list-style: none;
}

.dark-mode {
  color: white;
  background-color: black !important;
}
