.picture-and-name {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
}

.profile-picture {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
}

.about-me-list {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}

.about-me-list li {
  padding-left: -150px;
}

.settings {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}
